<p>
  <mat-toolbar>
   <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button> -->
</mat-toolbar>
</p>

<button mat-button color="primary">Click</button>


<br>

<div *ngFor="let contact of contactsDataList">
  {{ contact?.firstName }}
</div>

<br>

<button (click)="addContact({
  firstName: 'Sneha',
    lastName: 'S',
    phone: '8553001721',
    id: 8
})">
  ADD CONTACT
</button>

<button (click)="deleteContact(1)">
  DELETE CONTACT
</button>

<button (click)="updateContact({
  firstName: 'Srinivas',
    lastName: 'Prasad',
    phone: '8553001721',
    id: 1
})">
  UPDATE CONTACT
</button>


